@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --bg-color: #ebeaff;
  --text-color: #3d3bf3;
  --second-bg-color: #9694ff;
  --option-color: #ff2929;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--bg-color);
}

.title {
  position: absolute;
  top: 100px;
  font-size: 3rem;
  transition: top 0.4s ease;
}

body.active .title {
  position: absolute;
  top: 10px;
}

.title h2 {
  color: var(--option-color);
}

.title span {
  color: #000;
}

.wrapper {
  width: 450px;
  height: 288px;
  padding: 30px;
  background-color: var(--second-bg-color);
  border-radius: 9px;
  transition: height 0.4s ease;
}

.wrapper.active {
  height: 537px;
}

.wrapper .upload__box {
  height: 225px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  cursor: pointer;
  border: 2px dashed #fff;
}

.wrapper.active .upload__box img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: contain;
}

.wrapper .upload__box img {
  width: 25%;
}

.wrapper.active .upload__box {
  border: none;
}

.wrapper.active .upload__box p {
  display: none;
}

.upload__box p {
  font-size: 1.06rem;
  margin-top: 15px;
}

.wrapper .content {
  margin-top: 28px;
  opacity: 0;
  pointer-events: none;
}

.wrapper.active .content {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.4s 0.4s ease;
}

.content .row {
  display: flex;
  justify-content: space-between;
}

.content .row .column {
  width: calc(100% / 2 - 15px);
}

.row .column .label {
  font-size: 1.06rem;
}

.sizes .column input {
  width: 100%;
  height: 49px;
  outline: none;
  margin-top: 5px;
  padding: 0 15px;
  font-size: 1.06rem;
  border-radius: 4px;
  border: 1px solid var(--bg-color);
}

.sizes .column input:focus {
  padding: 0 14px;
  border: 2px solid var(--text-color);
}

.content .checkbox {
  margin-top: 20px;
}

.checkbox .column {
  display: flex;
  align-items: center;
}

.checkbox .column input {
  width: 17px;
  height: 17px;
  margin-right: 9px;
  accent-color: #00ff15;
}

.content .download__btn {
  width: 100%;
  background-color: var(--option-color);
  color: var(--bg-color);
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1.06rem;
  border-radius: 5px;
  padding: 15px 0;
  margin: 30px 0 10px;
  text-transform: uppercase;
  transition: 0.4s ease;
}

.content .download__btn:hover {
  background-color: #d41e1e;
}
